body{
    background-image: url("https://www.gannett-cdn.com/-mm-/3957e8101d1718b304ce52b06514c335bdb708a1/c=0-590-3289-2440/local/-/media/Appleton/2014/07/26/trivia.jpg?width=3200&height=1680&fit=crop");
    background-size: 100%;
}

.container{
    background-image: linear-gradient( -45deg, whitesmoke, gray);
height:100%;
padding: 5px;
margin-top: 20px;
margin-bottom: 20px;
border: 5px solid darkred;
}

#title{
    margin: 30px 20% 0px 25%;
    text-align: center;
    color: darkblue;
    width: 550px;
    padding: 10px;
    background-image: linear-gradient( 180deg, rgb(178, 199, 60), rgb(233, 236, 12));
    border: 5px solid darkblue;

}

#startID{
    margin: 200px 20% 150px 42%;
    width:150px;
    height:75px;
    font-size: x-large;
      }

#submitID{
    margin: 0px 20% 30px 42%;
    width:150px;
    height:75px;
    font-size: x-large;
      }

#questionID{
    text-align: center;
    font-weight: bold;
    font-size: large;
      }

      .question{
    font-size:30px ;
      }

      .answers{
        font-size:20px ;
          }

#resultID {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
      }

#timeleft  {
        text-align: center;
      }